{{! @template }}
{
    "courses": [
        { "id": 1, "fullname": "Test Course" }
    ],
    "title": "Template Course",
    "sections": [
        {
            "section": 1,
            "name": "Section 1",
            "modules": [
            {"cmid": 1, "modname": "quiz", "name": "Test Quiz", "instance": 1}
            ]
        }
    ]
}
<div id="block-modulelibrary" class="p-2">

    <div class="form-group">
        <label for="modulelibrary-course-select" class="form-label">
            {{#str}} selecttemplatecourse, block_modulelibrary {{/str}}
        </label>

        <select id="modulelibrary-course-select" class="form-control">
            <option value="">
                {{#str}} choosecourse, block_modulelibrary {{/str}}
            </option>
            {{#courses}}
                <option value="{{id}}">{{fullname}}</option>
            {{/courses}}
        </select>
    </div>

    <div id="modulelibrary-loading" class="text-center my-3" style="display:none;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">{{#str}} loading, block_modulelibrary {{/str}}</span>
        </div>
        <div>{{#str}} loading, block_modulelibrary {{/str}}</div>
    </div>

    <div id="modulelibrary-modules" class="mt-3"></div>
    <div id="modulelibrary-copy-form" class="mt-3"></div>
</div>
